/*     Add Your Styles Here    */
body {
    background-color: grey;
    color: red;
}
.navbar {
    background: white
}
.navbar-brand {
    color:#ffffff;
    background-color: teal;
}
.box {
    height: 400px;
    padding: 20px;
    color: #ffffff;
    background: deepskyblue;
}

.col-sm-8 {
    color: red;
    background-color: white;
}
.col-sm-4 {
    color: black;
    background-color: aqua;

}
  
.main_header {
    font-size: 40;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 30px;
}